footer {
  width: 100%;
}
#footer_content { display: flex;
  justify-content: space-around;
  background-color: black;
  border:2px solid  red;
  color: aqua;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 3rem 0, 75rem;
}
#footer_context h1 {
  margin-bottom: 0.75rem;
}
#redes_socias {
  display: flex;
  gap: 2rem;
  margin-top: 1.5rem;
  align-items: center;
  justify-content: center;
}
a {
  text-decoration: none;
}
.imagem{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.imagem-cont{
  width: 300px;
  height: 300px;
  border-radius: 100%;
  box-shadow:  2px -2px 5dvh red;
  animation: float 2s ease-in-out infinite;
}
.footer_list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  list-style: none;
}
#footer_subscrive {
  display: flex;
  flex-direction: column;
  text-align: justify;
  gap: 1.5rem;
  margin-left:20px;
}

#input_group {
  display: flex;
  align-items: center;
  border-radius: 4px;
}

#footer_copyrite {
    background-color: rgb(90, 87, 87);
  display: flex;
  

  font-size: 0.9rem;
  padding: 2px;
  font-weight: 100;
}
@keyframes float{
  50%{ 
    transform: translateY(-10%);
  }
}
@media screen and (max-width:768px){
    #footer_content{
        grid-template-columns: repeat(3.1fr);
        gap: 2rem;
      display: flex;
        flex-direction: column;
    }
    
}
@media screen and (max-width:430px){
    #footer_content{
        grid-template-columns: repeat(1.1fr);
        padding: 3rem 2rem;
        
    }
    
}




