.logo {
  text-shadow: 2px 2px 2px red;
  animation: palptier 1.5s ease-in-out infinite;
  

}

.btn_class:hover{
  transition-property: all;
 background-color: black;
 border-radius: 10px;
 color: blue;

}

#container {
  background-color: black;
}
section .content_1 {
  display: flex;
  padding: 10px;
  justify-content: space-around;
}

section .content_2 {
  display: flex;
  padding: 10px;
  justify-content: space-around;
}
section .content_3 {
  display: flex;
  padding: 10px;
  justify-content: space-around;
}
#botao {
  padding: 10px;
  width: 120px;
  color: rgb(41, 41, 219);
  background-color: transparent;
  border-top: 2px solid aqua;
  border-right: 2px solid aqua;
  border-bottom: 2px solid #ff0000;
  border-left: 2px solid #ff0000;
  box-shadow: 5px 3px #ff0000;
}

#container .card {
  margin: 5px;
  background-color: black;
  border-top: 2px solid aqua;
  border-right: 2px solid aqua;
  border-bottom: 2px solid red;
  border-left: 2px solid red;
  text-align: center;
}
#container .card :hover {
  transition: 0.95s;
  border-radius: 200px;
  transform: translate(1px, 5px) scale(600px, 600px);
  transform: rotate(10px);
}

audio {
  width: 230px;
  padding: 5px;
  margin: 10px;
}

.card-body :hover {
  transition: 0.5s;
  color: aqua;
  font-size: 15px;
}
.pagination {
  justify-content: center;
}
@keyframes palptier {

  80% {
    transform: scale(55%);
  }
}

@media screen and (max-width: 768px) {
  #container {
    width: 100%;
  }
  section .content_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  section .content_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  section .content_3 {
    flex-direction: column;
    align-items: center;
  }
  audio {
    width: 200px;
    padding: 5px;
    margin: 10px;
  }
}
@media screen and (max-width: 2000px) {
  #container {
    background-color: black;
    width: 100%;
  }
  section .content_1 {
    display: flex;
  padding: 10px;
  justify-content: space-around;
    
  }

  section .content_2 {
   display: flex;
  padding: 10px;
  justify-content: space-around;
  }
  section .content_3 {
   display: flex;
  padding: 10px;
  justify-content: space-around;
  }
  audio {
    width: 130px;
    padding: 5px;
    margin: 10px;
    position: relative;
    right: 10px;
  }
}
